*{
    margin: 0;

}
.parent{
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
}
.parent ul{
    display: flex;
    gap: 60px;
    font-size: 30px;
    list-style: none;
  
}
.parent-right{
    width: 300px;
    margin-top: 100px;
    margin-left: 100px;
}

